.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #8C7848;
    padding: 10px;
  }

.footer-center {
    display: flex;
    flex: 2;
    justify-content: center;
  }

  .footer-center > img {
    width: 250px;
  }